.main {
    max-width: calc(var(--main-width) + var(--gap) * 8);
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.left-column {
    flex: 1;
    order: 1;
    padding-right: 70px; /* Adjust the value as needed */
}

.right-column {
    flex: 3;
    order: 2;
}

@media (max-width: 850px) {
    .container {
        flex-flow: column; /* Stack columns vertically */
    }
    
    .left-column {
        order: 1; /* Left column on top */
        padding-right: 0; /* Reset padding */
    }

    .right-column {
        order: 2; /* Right column below */
    }
}
