.right-column a {
  text-decoration-line: underline;
  text-decoration-color: #b1ccf0;
  text-decoration-thickness: 2px;
  text-underline-offset: .25rem;
}
.right-column a:hover {
  text-decoration-line: underline;
  text-decoration-color: #3888f2;
  text-decoration-thickness: 2px;
  text-underline-offset: .25rem;
}
