body {
    background: var(--code-bg);
}

.post-entry {
    position: relative;
    margin-bottom: calc(var(--gap) * 0.7);
    padding: calc(var(--gap) * 0.8);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 1px solid var(--border);
}

.entry-content {
    margin: 5px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    /* different from default */
    -webkit-line-clamp: 3;
}

.post-entry:active {
    transform: scale(1);
}

.publication-entry {
    margin: 5px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    /* different from default */
}

.paper-title {
    color: #3888f2;
}

.news-content {
    max-height: 80px; /* Adjust the height as needed */
    max-width: 800px;
    overflow-y: auto; /* Adds vertical scroll when content exceeds the height */
    padding: 1px 0px 0px 0px;
    display: grid;
    grid-template-areas:
        "a b"
        "c d";
}

.news-date {
    font-weight: bold;
}


